body {
    padding: 0;
    @include breakpoint(medium) {
        padding: 2rem;
    }
}
.container{
    overflow:hidden;
}

.spacer {
    width: 100%;
    height: 2rem;
}

.contain {
    max-width: $global-width;
    margin-right: auto;
    margin-left: auto;
}

.block-title {
    text-align: center;
    margin-bottom: 2rem;
    h2 {
        font-size: rem-calc(30);
        color: $black;
        span {
            font-family: $font-bold;
            color: $blue;
        }
    }
     @include breakpoint(medium) {
         h2{
            font-size: rem-calc(40);
         }
     }
}

.gray-block {
    width: 100%;
    padding: 2rem;
    background-color: $light-gray;
}

.ltgray-block {
    width: 100%;
    padding: 2rem;
    background-color: $faint-gray;
}

.white-block {
    width: 100%;
    padding: 2rem;
    background-color: $white;
}

.mission-block {
    position: relative;
    width: 100%;
    padding: 2rem;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: $blue;
    color: $white;
    h1 {
        font-size: rem-calc(50);
        letter-spacing: 3px;
        span {
            font-family: $font-bold;
        }
    }
    p {
        max-width: 90%;
    }
    >img {
        position: absolute;
        bottom: 0;
        left: 0;
        max-width: 500px;
    }
    @include breakpoint(medium) {
        min-height: 400px;
        padding: 6rem;
        h1 {
            font-size: rem-calc(60);
            margin-bottom: 3rem;
        }
        p {
            font-size: rem-calc(20);
        }
    }//BQ
}