
body{
  padding: 2rem;
}
.spacer{
  width: 100%;
  height: 2rem;
}

.contain{
    max-width: $global-width;
    margin-right: auto;
    margin-left: auto;
}

.block-title{
  text-align: center;
  margin-bottom: 2rem;
  h2{
    color: $black;
    span{
      font-family: $font-bold;
      color: $blue;
    }
  }
}


.gray-block{
  width: 100%;
  padding: 2rem;
  background-color: $light-gray;
}
.ltgray-block{
  width: 100%;
  padding: 2rem;
  background-color: $faint-gray;
}
.white-block{
  width: 100%;
  padding: 2rem;
  background-color: $white;
}


.mission-block{
  position: relative;
  width: 100%;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: $blue;
  color: $white;
  h1{
    letter-spacing: 3px;
    span{
      font-family: $font-bold;
    }
  }
  p{
    max-width: 90%;
  }
  >img{
    position: absolute;
    bottom: 0 ; left: 0;
    max-width: 500px;
  }
   @include breakpoint(large) {
     padding: 6rem;
     h1{
        font-size: rem-calc(60);
        margin-bottom: 3rem;
     }
     p{
       font-size: rem-calc(20);
     }
   }
}