

.facts{
  width: 100%;
  padding: 3rem 4rem 3rem 3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color:$blue;
}
.fact{
  position: relative;
  text-align: center;
  opacity: 0;
}

.fact-title{
  h1{
    color: $white;
    font-family: $font-light;
    font-size: rem-calc(60);
    line-height: 1;
    span{
      display: block;
      font-family: $font-bold;
    }
  }
}