
.inline-form{
  display: flex;
  margin-top: 2rem;
  

  input[type="text"]{
    width: 250px;
    height: 50px;
    margin-right: 1rem;
    padding: 0 1rem;
    border-radius: 30px;
    border: none;
    background-color: rgba($white, 0.2);
    color: $white;
  }
  input[type="submit"]{
    height: 50px;
    line-height: 50px;
     padding: 0 2rem;
    border-radius: 30px;
    border: none;
    background-color: $blue;
    color: $white;
    transition: all .2s ease;
    &:hover{
      background-color: darken($blue, 10%);
    }
  }
}