.header-mobile{
  height: 60px;
  width:100%;
  position: fixed;
  top: 0 ; left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: transparent;
  z-index: 100;
  &.is-sticky{
    background-color: rgba($blue, 0.95);
  }
  @include breakpoint(medium) {
    display:none;
  }
}


.header-brand{
  max-height: 40px;
}