.billboard {
    position: relative;
    width: 100%;
    padding: 4rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    @include breakpoint(medium) {
        height: 615px;
        padding-left: 0;
        padding-right: 0;
    }
    @include breakpoint(large) {
        height: 90vh;
        //background-size: contain;
    }
    .credit {
        position: absolute;
        bottom: 0;
        right: 20px;
        font-family: $font-reg;
        color: $white;
    }
}

.skrim {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba($black, 0.95);
}

.hero-brand {
    width:300px;
    z-index: 10;
    h1 {
        color: $white;
        font-size: 2rem;
    }
    >* {
        opacity: 1;
    }
    @include breakpoint(medium) {
        width:auto;
        h1 {
            font-size: 4rem;
        }
    }
}

.hero-brand_top {
    text-align: left;
}

.hero-brand_btm {
    text-align: right;
}

#boldBrand {
    opacity: 1;
    transform: scale(0);
    max-width: 97%;
    @include breakpoint(medium) {
        max-width: 600px;
    }
}