

.image-grid{
  @extend .contain;
 width: 100%;
 display: flex;
 flex-wrap: wrap;
 justify-content: center;
}

.image-grid_item{
  position: relative;
  width: 33%;
  height: 350px;
  background-size: cover;
  background-position: center center;
  filter: opacity(.5);
  overflow: hidden;
  transition: filter .2s ease, background-position .3s ease;
  opacity: 0;
  figcaption{
    position: absolute;
    bottom: 10px ; left: 10px;
    transform: scale(2);
    opacity: 0;
    transform-origin: 50% 50%;
    transition: transform .2s ease;
  }
  &:hover{
    filter: opacity(1);
    figcaption{
      transform: scale(1);
      opacity: 1;
    }
    .hover-link{
      transform: translate3d(-50%, -50%, 0);
    }
  }
}

.hover-link{
  height: 60px;
  width: 60px;
  line-height: 60px;
  position: absolute;
  top: 50% ; left: 50%;
  transform: translate3d(-50%, 450%, 0);
  border-radius: 50%;
  background-color: rgba($blue,0.6);
  color: $white;
  text-align: center;
  transition: transform .3s ease-in-out;
  >i{
    font-size: 2rem;
    vertical-align: middle;
  }
}

.image-grid_sm{
  position: relative;
  width: calc(100% / 5);
  height: 250px;
  background-size: cover;
  background-position: center center;
  //filter: grayscale(1);
  transition: filter .2s ease, background-position .3s ease;
  overflow: hidden;
  figcaption{
    width: 110%;
    height: 250px;
    position: absolute;
    bottom: -123px ; left: -20px;
    transform: rotate(10deg) translateY(50%);
    background-color:rgba($blue, 0.5);
    transform-origin: right;
    // opacity: 0;
    transition: transform .3s ease-in-out, background-color .25s ease-in-out;
    p{
      color: $white;
       transform: rotate(-10deg) translateX(30px);
       font-weight: 600;
    }
  }
  &:hover{
    filter: grayscale(0);
    figcaption{
      background-color:$white;
      opacity: 1;
      p{
        color: $blue;
      }
    }
    .hover-link{
      transform: translate3d(-50%, -50%, 0);
    }
  }
}