

.image-grid{
  @extend .contain;
 width: 100%;
 display: flex;
 flex-wrap: wrap;
 justify-content: center;
}

.image-grid_item{
  position: relative;
  width: 33%;
  height: 350px;
  background-size: cover;
  background-position: center center;
  overflow: hidden;
  transition: filter .2s ease, background-position .3s ease;
  opacity: 0;
  figcaption{
    width: 110%;
    height: 250px;
    position: absolute;
    bottom: -113px ; left: -20px;
    transform: rotate(6deg) translateY(53%);
    background-color:rgba($blue, 0.5);
    transform-origin: right;
    transition: transform .3s ease-in-out, background-color .25s ease-in-out;
    p, em{
      color: $white;
       transform: rotate(-6deg) translateX(30px);
       font-weight: 600;
    }
    em{
      display: inline-block;
      font-style: normal;
      margin-top: 10px ;
      font-size: .9rem;
      padding-left: 4px;
    }
  }
  &:hover{
    figcaption{
      background-color:$white;
      transform:rotate(3deg) translateY(30%);
      opacity: 1;
      p,em{
        color: $blue;
          transform: rotate(-3deg) translateX(30px);
      }
    }
    .hover-link{
      transform: translate3d(-50%, -50%, 0);
    }
  }
}

.hover-link{
  height: 60px;
  width: 60px;
  line-height: 60px;
  position: absolute;
  top: 50% ; left: 50%;
  transform: translate3d(-50%, 450%, 0);
  border-radius: 50%;
  background-color: rgba($blue,0.6);
  color: $white;
  text-align: center;
  transition: transform .3s ease-in-out;
  >i{
    font-size: 1.2rem;
    padding-left: 4px;
    vertical-align: middle;
  }
}

.image-grid_sm{
  position: relative;
  width: calc(100% / 5);
  height: 250px;
  background-size: cover;
  background-position: center center;
  transition: filter .2s ease, background-position .3s ease;
  overflow: hidden;
  opacity: 0;
  figcaption{
    width: 110%;
    height: 250px;
    position: absolute;
    bottom: -113px ; left: -20px;
    transform: rotate(6deg) translateY(49%);
    background-color:rgba($blue, 0.5);
    transform-origin: right;
    transition: transform .3s ease-in-out, background-color .25s ease-in-out;
    p, em{
      color: $white;
       transform: rotate(-6deg) translateX(30px);
       font-weight: 600;
    }
    em{
      display: inline-block;
      font-style: normal;
      font-size: .9rem;
      padding-left: 4px;
    }
  }
  &:hover{
    filter: grayscale(0);
    figcaption{
      transform:rotate(3deg) translateY(30%);
      background-color:$white;
      opacity: 1;
      p,em{
        color: $blue;
          transform: rotate(-3deg) translateX(30px);
      }
    }
    .hover-link{
      transform: translate3d(-50%, -50%, 0);
    }
  }
}