

.nav-fixed{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 150px;
    display: flex;
    align-items: center;
    padding: 0;
    transition: all .3s ease;
    z-index: 100;
    @include breakpoint(medium) {
      padding: 1rem;
    }
}


.nav-fixed.is-sticky{
   height: 50px;
  background-color: $white;
   padding: 0 2rem;
  z-index: 100;
}//is-sticky

.nav-wrap{
  @extend .contain;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  .nav-brand{
    transform: scale(0.7);
    transition: transform .5s ease;
  }

  @include breakpoint(medium) {
    .nav-brand{
      transform: scale(1);
    }
  }
}

.nav-links{
  a{
    font-family: $font-reg;
    margin-left: 1.5rem;
    color: $white;
    i{
      font-size: 1.5rem;
      vertical-align: middle;
    }
    &:hover{
      color: $blue;
    }
  }
}
.nav-fixed{
  .nav-links{
  a{
    font-family: $font-reg;
    margin-left: 1.5rem;
    color: $white;
    i{
      font-size: 1.5rem;
      vertical-align: middle;
    }
    &:hover{
      color: $white;
      text-decoration: underline;
    }
  }
}
}

.is-sticky .nav-links{
    a{
    color: $black;
        &:hover{
      color: $blue;
    }
  }
}

.nav-brand{
  max-height: 30px;
  opacity: 0;
  transform: translateX(200px);
  transition: transform .5s ease;
}

.is-sticky .nav-brand{
  opacity: 1;
  transform: translateX(0);
}

.nav-footer{
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0;
    transition: all .3s ease;
    z-index: 100;
    @include breakpoint(medium) {
      padding: 1rem;
    }
}

.nav-footer .nav-links > a:hover{
  color: darken($blue, 20%);
}



.btn-donate{
  >img{
  max-height: 40px;

  }
}