
.news-grid{
  @extend .contain;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  @include breakpoint(medium) {
    flex-direction: row;
  }
}

.news-grid_item{
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 1rem;
  background-color:$light-gray;
  border-radius: 4px;
  overflow: hidden;
  transition: all .3s ease-in-out;
  h3{
    color: $black;
  }
  p{
    color: $dark-gray
  }
  &:hover{
     background-color: darken($light-gray, 5%);
     cursor: pointer;
    .news-grid_zoom{
      transform: scale(1.2);
    }
    .news-grid_deets{
      h3{color: $blue}
    }
  }//hover
  @include breakpoint(medium) {
    width: 30%;
    max-width: 400px;
    margin-bottom: 0;
  }
}

.news-grid_thumb{
  display: block;
  position: relative;
  width: 100%;
  height: 250px;
  overflow: hidden;

}
.news-grid_zoom{
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  transition: all .3s ease-in-out;
}

.news-grid_deets{
  display: flex;
  flex-direction:column ;
  justify-content: space-between;
  padding:.5rem 1rem;
  h3{
    font-family: $font-bold;
    font-size: rem-calc(20);
    transition: color .3s ease-in-out;
  }
}

.news-grid_meta{
  width: 100%;
  padding:.5rem 1rem;
  display: flex;
  justify-content: space-between;
  font-size: 0.8rem;;

}
