//$base-url: 


@font-face {
    font-family: 'gibsonbold';
    src: url('../../assets/fonts/gibson_bold-webfont.woff2') format('woff2'),
         url('../../assets/fonts/gibson_bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'gibsonlight';
    src: url('../../assets/fonts/gibson_light-webfont.woff2') format('woff2'),
         url('../../assets/fonts/gibson_light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'gibsonregular';
    src: url('../../assets/fonts/gibson_regular-webfont.woff2') format('woff2'),
         url('../../assets/fonts/gibson_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'gibsonsemibold';
    src: url('../../assets/fonts/gibson_semibold-webfont.woff2') format('woff2'),
         url('../../assets/fonts/gibson_semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}